.about-stat {
  margin-bottom: 16rem;
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.44;
    color: #000000;
  }
  &__right {
    width: 87rem;
  }
  &__left {
    width: 67rem;
    display: grid;
    grid-gap: 5.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  &__n {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  &__v {
    font-size: 6.3rem;
    line-height: 0.75;
    color: #060606;
  }
  &__c {
    font-size: 1.9rem;
    line-height: 1.2;
    color: #060606;
    padding-left: 1rem;
  }
  &__name {
    font-size: 1.8rem;
    color: #4A4A4A;
  }
  @media (max-width: 48em) {
    margin-bottom: 10rem;
    &__inner {
      flex-direction: column-reverse;
    }
    &__text {
      font-size: 1.4rem;
    }
    &__right {
      width: 100%;
      margin-bottom: 5rem;
    }
    &__left {
      width: 100%;
      grid-gap: 3.5rem;
    }
    &__v {
      font-size: 3.2rem;
    }
    &__c {
      font-size: 1.4rem;
    }
    &__name {
      font-size: 1.4rem;
    }
  }
}