.article {
  padding-top: 13rem;
  margin-bottom: 22rem;
  &__inner {
    padding-top: 6rem;
    max-width: 123.7rem;
    margin: 0 auto;
  }
  &__top {
    margin-bottom: 2.5rem;
  }
  &__top, 
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9F9F9F;
  }
  &__bottom {
    margin-top: 6rem;
  }
  &__content {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.4%;
    h1 {
      font-weight: 500;
      font-size: 4.8rem;
      line-height: 133.4%;
      color: #000000;
      margin-bottom: 4rem;
    }
    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 134.8%;
      color: #060606;
      margin-bottom: 4rem;
      margin-top: 6rem;
    }
    h3 {
      font-weight: 500;
      color: #060606;
      font-size: 2.4rem;
      margin-bottom: 2.5rem;
    }
    p {
      margin-bottom: 2rem;
    }
    q {
      display: block;
      padding-left: 4rem;
      margin: 0;
      position: relative;
      font-weight: 500;
      line-height: 156.4%;
      margin: 4rem 0;
      border-left: 2px solid $accent;
    }
    blockquote {
      display: block;
      padding: 0;
      margin: 0;
      padding-left: 5rem;
      position: relative;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 153.3%;
      margin: 4rem 0;
      span {
        display: block;
        color: #DBDBDB;
        font-size: 1.6rem;
        margin-top: 1rem;
        font-weight: 500;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0rem;
        top: 0;
        width: 2.3rem;
        height: 2.3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/dist/q.svg);
      }
    }
    img {
      width: auto;
      max-width: 100%;
      margin-bottom: 4rem;
    }
  }
  @media (max-width: 48em) {
    padding-top: 10rem;
    margin-bottom: 5rem;
    &__inner {
      padding-top: 1rem;
    }
    &__top {
      margin-bottom: 2.5rem;
    }
    &__top, 
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #9F9F9F;
    }
    &__bottom {
      margin-top: 6rem;
    }
    &__content {
      font-size: 1.6rem;
      h1 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
      }
      p {
        margin-bottom: 2rem;
      }
      q {
        padding-left: 2rem;
        margin: 2rem 0;
      }
      blockquote {
        padding-left: 3rem;
        font-size: 1.6rem;
        margin: 2rem 0;
        span {
          font-size: 1.4rem;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0rem;
          top: 0;
          width: 2.3rem;
          height: 2.3rem;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(../images/dist/q.svg);
        }
      }
      img {
        margin-bottom: 2rem;
      }
    }
  }
}