.business2 {
  margin-bottom: 14rem;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6rem;
  }
  &__text {
    width: 87.2rem;
    font-size: 1.8rem;
    line-height: 144.4%;
  }
  &__stat {
    display: flex;
  }
  &__stat-item {
    padding: 5.7rem;
    border-right: 1.5px solid #E0E0E0;
    &:last-child {
      border: none;
    }
    p {
      font-weight: 500;
      font-size: 4rem;
      color: #060606;
      margin-bottom: 1.8rem;
    }
    span {
      font-size: 1.8rem;
      color: #4A4A4A;
    }
  }
  @media (max-width: 48em) {
    margin-bottom: 10rem;
    &__content {
      flex-direction: column-reverse;
      margin-bottom: 4rem;
    }
    &__text {
      width: 100%;
      font-size: 1.4rem;
    }
    &__stat {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    &__stat-item {
      flex-grow: 1;
      padding: 0.6rem;
      p {
        font-size: 2rem;
        margin-bottom: 0.6rem;
      }
      span {
        font-size: 1.2rem;
      }
    }

  }
}