.catalog-wrapper {
  padding-top: 14rem;
  padding-bottom: 12rem;
  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }
  &__inner {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &__aside {
    position: sticky;
    top: 1rem;
    max-height: calc(100vh - 30rem);
    overflow: auto;
  }
  &__footer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__total {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 151.9%;
    letter-spacing: 0.06em;
    color: #6B6B6B;
  }
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
  .catalog__item {
    width: 36rem;
  }
  @media (max-width: 48em) {
    padding-top: 8rem + 3.5;
    padding-bottom: 6rem;
    &__inner {
      padding: 0;
      display: block;
      position: relative;
    }
    &__aside {
      position: static;
      max-height: none;
      overflow: auto;
    }
    .catalog {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
    .catalog__item {
      width: auto;
    }
    &__footer {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

.catalog-head {
  margin-bottom: 8rem;
  &__title {
    font-family: $secondfont;
    font-size: 4.6rem;
    letter-spacing: 0.005em;
    color: #1f2209;
    margin-bottom: 4.2rem;
  }
  &__sort {
    display: flex;
    width: 100%;
    overflow: auto;
  }
  &__label {
    cursor: pointer;
    margin-right: 1.8rem;
  }
  &__input:checked + .catalog-head__label-text {
    color: #fff;
    background-color: $accent;
    border-color: $accent;
  }
  &__label-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 1rem 3rem;
    font-family: $secondfont;
    letter-spacing: 0.005em;
    color: #1f2209;
    border: 1.5px solid #3f452e;
    border-radius: 3.6rem;
  }
  @media (max-width: 48em) {
    margin-bottom: 2rem;
    &__title {
      font-size: 3.2rem;
      margin-bottom: 4.5rem;
    }
    &__label {
      cursor: pointer;
      margin-right: 1.4rem;
    }
    &__input:checked + .catalog-head__label-text {
      color: #fff;
      background-color: $accent;
      border-color: $accent;
    }
    &__label-text {
      font-size: 1.3rem;
      padding: 1rem 2.4rem;
      background-color: #fff;
      border: none;
    }

  }
}

.catalog-filter {
  width: calc(34rem + 20px);
  padding-right: 20px;
  background-color: #fff;
  flex-shrink: 0;
  padding: 1.4rem 2.2rem;
  &__open {
    display: none;
  }

  &__head {
    font-family: $secondfont;
    font-weight: 700;
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 3.5rem;
  }

  &__item {
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .open {
      width: 2rem;
      height: 2rem;
      background-image: url(../images/dist/filter-box-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem auto;
      &.opened {
        transform: rotate(-180deg);
      }
    }
  }
  &__cr-box {
    display: none;
    &.opened {
      display: block;
    }
    &.allshowes {
      .catalog-filter__label {
        display: flex !important;
      }
      .all {
        span {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: inline-block;
          }
        }
      }
    }
    .all {
      color: $accent;
      span:nth-child(2) {
        display: none;
      }
    }
  }

  &__range {
    margin-top: -15px;
  }
  .irs--flat .irs-bar {
    top: 29px;
    height: 5px;
    background-color: #f98418;
  }
  .irs--flat .irs-line {
    top: 29px;
    height: 5px;
    background-color: #dedede;
    border-radius: 4px;
  }
  .irs--flat .irs-handle {
    top: 22px;
    width: 20px;
    height: 20px;
    background-color: #f98418;
    border: 2px solid #d97d29;
    border-radius: 100%;
    i {
      display: none;
    }
  }
  &__range-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    span {
      display: inline-block;
      flex-grow: 1;
      height: 1px;
      background-color: #c9c9c9;
    }
  }
  &__range-input {
    flex-shrink: 0;
    width: calc(50% - 20px);
    height: 4.4rem;
    background: #ffffff;
    border: 1.5px solid #c9c9c9;
    border-radius: 0.5rem;
    padding: 0 1.7rem;
    font-weight: 500;
    color: #1a1a1a;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    label {
      margin-right: 3.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &__radios {
    label {
      display: flex;
      margin-bottom: 1.5rem;
    }
  }
  &__label {
    cursor: pointer;
    display: inline-flex;
    display: none;
    align-items: center;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: flex;
    }
  }
  &__check {
    display: inline-block;
    flex-shrink: 0;
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid #9e9e9e;
    border-radius: 0.3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    margin-right: 1rem;
  }
  &__radiocheck:checked + .catalog-filter__check {
    background-color: $accent;
    border-color: $accent;
    background-image: url(../images/dist/check.svg);
  }
  &__input-name {
    font-size: 1.4rem;
    color: #000;
  }

  &__actions {
    position: sticky;
    z-index: 4;
    bottom: 0;
    background-color: #F8F8F8;
    padding: 1rem 0;
  }
  &__reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #b9b9b9;
    border-radius: 50px;
    color: #b9b9b9;
    background-color: transparent;
    transition: filter 200ms;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    img {
      flex-shrink: 0;
      height: 1rem;
      width: auto;
      margin-right: 1rem;
    }
    &:hover {
      filter: invert(90%);
    }
  }

  &__apply {
    width: 100%;
    min-height: 4.3rem;
  }

  @media (max-width: 48em) {
    width: 100%;
    padding: 0;
    margin-bottom: 0rem;

    &__open {
      display: flex;
    }
    &__head {
      position: fixed;
      width: 100%;
      top: 0rem;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3.2rem;
      padding: 1rem 1.5rem;
      background-color: #F8F8F8;
      margin: 0;
      img {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
      }
    }

    &__content {
      position: fixed;
      z-index: 90;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 0;
      background-color: #F8F8F8;
      transform: translateY(-130%);
      transition: transform 300ms;
      &.active {
        transform: translateY(0);
      }
    }

    &__list {
      height: 100vh;
      overflow: auto;
      padding: 12rem 1.5rem;
      padding-top: 8rem;
    }
  
    &__title {
      font-size: 1.7rem;
      margin-bottom: 1.6rem;
    }
  
    &__actions {
      position: fixed;
      padding: 1rem 1.5rem;
      left: 0;
      width: 100%;
    }
    &__reset {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 2px solid #b9b9b9;
      border-radius: 50px;
      color: #b9b9b9;
      background-color: transparent;
      transition: filter 200ms;
      margin-bottom: 1.5rem;
      padding: 1rem 2rem;
      img {
        flex-shrink: 0;
        height: 1rem;
        width: auto;
        margin-right: 1rem;
      }
      &:hover {
        filter: invert(90%);
      }
    }
  
    &__apply {
      width: 100%;
      min-height: 4.3rem;
    }

  }
}
.catalog {
  display: grid;
  grid-template-columns: repeat(4, minmax(32.3rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-gap: 2.5rem;
  &__item {
    max-width: 40rem;
    background: #fff;
    box-shadow: 0.8rem 1.3rem 2.4rem rgba(0, 0, 0, 0.05);
    border-radius: 3.2rem;
    position: relative;
    padding-top: 3.6rem;
    display: flex;
    a {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &__img {
    height: 32.5rem;
    @include img-contain;
  }
  &__content {
    flex-grow: 1;
    padding: 1.6rem 1.8rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 151.9%;
    color: #B9B9B9;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 107.4%;
    color: #222122;
    margin-bottom: 1.3rem;
  }
  &__price {
    margin-top: auto;
    font-weight: 600;
    font-size: 2.4rem;
    color: $accent;
  }
  &__to-cart {
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    border-radius: 100%;
    width: 4.4rem;
    height: 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/dist/to-cart.svg);
  }
  &__to-fav {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    border-radius: 100%;
    width: 4.4rem;
    height: 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url(../images/dist/to-fav.svg);
  }
  @media (max-width: 48em) {
    grid-template-columns: repeat(2, minmax(16.8rem, 1fr));
    grid-gap: 0.8rem;
    &__item {
      max-width: none;
      background: #fff;
      box-shadow: 0.9rem 0.7rem 1.2rem rgba(0, 0, 0, 0.05);
      border-radius: 1.4rem;
      padding-top:1.5rem;
    }
    &__img {
      height: 12.8rem;
    }
    &__content {
      padding: 1.2rem 1rem;
    }
    &__title {
      font-size: 1rem;
    }
    &__description {
      font-size: 1.1rem;
      margin-bottom: 1.6rem;
    }
    &__price {
      font-size: 1.4rem;
    }
    &__to-cart {
      width: 2.4rem;
      height: 2.4rem;
      background-size: 90%;
      right: 1rem;
      bottom: 1rem;
    }
    &__to-fav {
      width: 2.4rem;
      height: 2.4rem;
      right: 1rem;
      top: 1rem;
    }
  }
}

.catalog-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  &__left {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 128.9%;
    color: #B6B6B6;
    span {
      color: #151515;
      font-weight: 600;
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__select {
    position: relative;
    background: #F7F7F7;
    height: 4rem;
    border-radius: 4.6rem;
    padding-right: 1rem;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
    select {
      height: 4rem;
      background: #F7F7F7;
      border-radius: 4.6rem;
      border: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 128.9%;
      color: #151515;
      &:focus {
        outline: none;
      }
    }
    &--name {
      select {
        width: 19.7rem;
        padding-left: 10.6rem;
      }
    }
    &--price {
      select {
        width: 25.2rem;
        padding-left: 7.2rem;
      }
    }
  }
  &__name {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 128.9%;
    color: #B6B6B6;
  }
  @media (max-width: 48em) {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    &__left {
      font-size: 1.2rem;
    }
    &__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    &__select {
      width: 17.7rem;
      margin: 0;
      margin-bottom: 1rem;
      &--name {
        width: 15.8rem;
        select {
          width: 100%;
          padding-left: 9rem;
        }
      }
      &--price {
        width: 100%;
        select {
          width: 100%;
          padding-left: 6rem;
        }
      }
    }
    &__name {
      left: 1.5rem;
      font-weight: 500;
      font-size: 1.2rem;
      &--filter {
        font-weight: 600;
        color: #000;
      }
    }
  }
}

.catalog-razdel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.8rem;
  margin-bottom: 10rem;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    overflow: hidden;
    position: relative;box-shadow: 7.27455px 12.1242px 21.8236px rgba(0, 0, 0, 0.05);
  }
  &__title {
    font-weight: 600;
    font-size: 3.2rem;
    color: #393939;
    margin-bottom: 2rem;
  }
  &__more {
    display: inline-flex;
    align-items: center;
    color: $accent;
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    &::after {
      margin-left: 3rem;
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/dist/arrow2.svg);
    }
  }
  &__img {
    width: 44.9rem;
    height: 36.4rem;
    position: absolute;
    top: -6rem;
    right: -3rem;
    z-index: 1;
    .blur {
      transform: scale(1.5);
      position: absolute;
      right: -25%;
      top: -31%;
      z-index: 1;
      filter: blur(5.5px);
    }
    img {
      position: relative;
      z-index: 2;
    }
    @include img-contain;
  }
  &__texts {
    position: relative;
    z-index: 2;
  }
  @media (max-width: 48em) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-bottom: 5rem;
    &__item {
      border-radius: 0.5rem;
      padding: 1rem;
    }
    &__title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
    &__more {
      font-size: 1.4rem;
      border: 1px solid #C4C4C4;
      border-radius: 5.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
      width: 100%;
      &::after {
        margin-left: 1rem;
      }
    }
    &__img {
      display: none;
    }
    &__texts {
      width: 100%;
    }
  }
}