.main-advantages {
  margin-bottom: 15rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.8rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 130.9%;
    background: #FFFFFF;
    box-shadow: 0.7rem 1.2rem 2.1rem rgba(0, 0, 0, 0.05);
    border-radius: 1.5rem;
    padding: 3rem 2.5rem;
  }
  &__icon {
    width: 10rem;
    height: 10rem;
    @include img-contain;
    position: relative;
    margin-bottom: 3.3rem;
    img {
      position: relative;
      z-index: 2;
    }
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 7.6rem;
      height: 7.6rem;
      right: -1.8rem;
      bottom: -1.8rem;
      background: radial-gradient(44% 44% at 51% 49%, #FAB355 0%, rgba(250, 179, 85, 0) 100%);
      filter: blur(18.5px);
    }
  }
  &__name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 145.4%;
    color: #000000;
    margin-bottom: 1.5rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 144.4%;
    color: #888888;
  }
  @media (max-width: 48em) {
    margin-bottom: 8rem;
    &__list {
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      font-size: 1.2rem;
      padding: 1.4rem 1rem;
    }
    &__icon {
      width: 4.7rem;
      height: 4.7rem;
      margin-bottom: 1.8rem;
      &::before {
        width: 3.6rem;
        height: 3.6rem;
        right: -0.9rem;
        bottom: -0.9rem;
      }
    }
    &__name {
      font-size: 1.2rem;
    }
    &__text {
      font-size: 0.9rem;
    }
  }
}