.main-news {
  margin-bottom: 14rem;
  &__head {
    display: flex;
    margin-bottom: 4rem;
  }
  &__left {
    width: 33.333%;
  }
  &__subtitle {
    font-size: 2rem;
    line-height: 160%;
    color: #000000;
    margin-bottom: 3.7rem;
  }
  &__btns {
    display: flex;
  }
  &__all {
    margin-right: 2rem;
  }
  &__slider {
    border: 1px solid #C7CFDB;
    border-radius: 3rem;
    overflow: hidden;
  }
  &__slide {
    width: 33.3333%;
    padding: 8.8rem 9rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #C7CFDB;
    &:first-child {
      border-left: 0;
    }
  }
  &__date {
    font-weight: 500;
    font-size: 1.8rem;
    color: #5A5A5A;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  &__anons {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 137.9%;
    color: #161616;
    margin-bottom: 9rem;
  }
  &__more {
    margin-top: auto;
  }
  &__more span {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #303030;
    border-bottom: 1px solid #303030;
    padding-bottom: 0.3rem;
    &::after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 1.5rem;
      margin-left: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/dist/arrow3.svg);
    }
  }
  @media (max-width: 48em) {
    margin-bottom: 10rem;
    &__inner {
      position: relative;
      padding-bottom: 7rem;
    }
    &__head {
      display: block;
      margin-bottom: 4rem;
    }
    &__left {
      width: 100%;
    }
    &__subtitle {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
    &__btns {
      display: flex;
    }
    &__all {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-right: 0;
    }
    &__nav {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__req {
      display: none;
    }
    &__slider {
      border-radius: 3rem;
      overflow: hidden;
    }
    &__slide {
      width: 100%;
      padding: 3.6rem 1.8rem;
      border: none;
      &:first-child {
        border: none;
      }
    }
    &__date {
      font-size: 1.6rem;
      margin-bottom: 1.4rem;
    }
    &__anons {
      font-size: 1.6rem;
      margin-bottom: 4rem;
    }
    &__more {
      margin-top: auto;
    }
    &__more span {
      padding-bottom: 1.2rem;
      &::after {
        width: 1.8rem;
        height: 1.2rem;
        margin-left: 1rem;
      }
    }
  }
}
