.main-prods {
  margin-bottom: 17rem;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  &__mtitle {
    margin-bottom: 0;
  }
  &__more {
    display: inline-flex;
    align-items: center;
    color: $accent;
    font-weight: 600;
    font-size: 1.8rem;
    &::after {
      margin-left: 3rem;
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/dist/arrow2.svg);
    }
  }
  &__footer {
    display: none;
  }
  @media (max-width: 48em) {
    margin-bottom: 10rem;
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
    &__mtitle {
      margin-bottom: 0;
    }
    &__more {
      font-size: 1.4rem;
      &::after {
        margin-left: 1rem;
      }
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 3rem;
    }

  }
}
