.main-advantages {
  margin-bottom: 17rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 130.9%;
  }
  &__icon {
    width: 10rem;
    height: 10rem;
    @include img-contain;
    margin-right: 2rem;
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 7.6rem;
      height: 7.6rem;
      right: -1.8rem;
      bottom: -1.8rem;
      background: radial-gradient(44% 44% at 51% 49%, #FAB355 0%, rgba(250, 179, 85, 0) 100%);
      filter: blur(18.5px);
    }
  }
  @media (max-width: 48em) {
    margin-bottom: 10rem;
    &__list {
      grid-gap: 3.3rem;
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      font-size: 1.6rem;
    }
    &__icon {
      width: 7.6rem;
      height: 7.6rem;
      margin-right: 3.3rem;
      &::before {
        width: 5.7rem;
        height: 5.7rem;
        right: -1.4rem;
        bottom: -1.4rem;
      }
    }
  }
}