.main-slider {
  color: #fff;
  margin-bottom: 7rem;
  padding-top: 10.4rem;
	&__slide {
    position: relative;
    background-color: $accent;
    border-radius: 1.5rem;
    padding-left: 5.5rem;
    padding-right: 15rem;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__img {
    width: 94rem;
    height: 41.3rem;
    position: relative;
    @include img-contain;
    .blur {
      transform: scale(1.5);
      position: absolute;
      right: -14rem;
      top: -13rem;
      z-index: 1;
      filter: blur(5.5px);
    }
    img {
      position: relative;
      z-index: 2;
    }
  }
  &__content {
    position: relative;
    min-height: 41.3rem;
    padding-top: 10rem;
    padding-bottom: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    max-width: 42.8rem;
  }
  &__title {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  &__description {
    font-size: 1.8rem;
  }
  &__link {
    position: absolute;
    z-index: 2;
    bottom: 4rem;
    right: 4rem;
    width: 15.5rem;
    height: 15.5rem;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 100%;
  }
  &__pag.swiper-pagination-bullets {
    position: absolute;
    left: 5.5rem;
    top: 4rem;
    height: 2.4rem;
    width: auto;
    display: flex;
    align-items: center;
    z-index: 3;
    .bullet {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 100%;
      &::after {
        content: '';
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        background-color: #fff;
        opacity: 0.6;
      }
      &.active {
        border: 1px solid rgba($color: #fff, $alpha: 0.6);
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__nav {
    position: absolute;
    left: 5.5rem;
    bottom: 4rem;
    display: flex;
    align-items: center;
    z-index: 3;
    .slider-prev {
      background-image: url(../images/dist/prev-2.svg);
    }
    .slider-next {
      background-image: url(../images/dist/next-2.svg);
    }
  }
  @media (max-width: 48em) {
    padding-top: 8.1rem;
    &__slide {
      padding: 0;
      flex-direction: column;
    }
    &__img {
      width: 100%;
      height: 36rem;
      .blur {
        right: auto;
        top: -3rem;
        left: -10rem;
      }
    }
    &__content {
      min-height: auto;
      padding-top: 1rem;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      padding-bottom: 10.7rem;
      max-width: none;
    }
    &__title {
      font-size: 2.8rem;
      margin-bottom: 1.2rem;
      padding-right: 2rem;
    }
    &__description {
      font-size: 1.4rem;
    }
    &__link {
      bottom: 2rem;
      right: auto;
      left: 1.4rem;
      width: 17rem;
      height: 4rem;
      border-radius: 0.5rem;
    }
    &__pag.swiper-pagination-bullets {
      position: absolute;
      left: auto;
      right: 1.4rem;
      top: 1.4rem;
    }
    &__nav {
      position: absolute;
      left: auto;
      right: 1.4rem;
      bottom: 1.4rem;
    }
  }
}
